<section class="md-whiteframe-z1 users pb50">
    <md-list ng-cloak>
      <md-input-container ng-if="json.addSearch">
    <label>Movies</label>
    <md-select ng-model="movie" ng-change="getAwardByMovie(movie)">
      <md-option ng-repeat="dropdown in dropdownvalues" value="{{dropdown._id}}">
        {{dropdown.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <div class="search-input" ng-if="!json.showSearch">
    <input ng-model="search" type="text">
      <md-button class="md-raised md-primary" ng-click="searchClick(search);">Go</md-button>
    </div>
  <!-- <md-autocomplete
              md-search-text="searchForm.name"
              md-items="item in ctrl.querySearch(searchForm.name)"
              md-item-text="item.display"
              md-min-length="0"
              placeholder="Search"
              ng-model='search'
              >
          </md-autocomplete> -->
        <div class="pull-right">
            <a class="add-position" ui-sref="{{json.createButtonState}}" ng-if="json.title!='Subscribers'">
                <md-button class="md-fab md-primary md-mini" aria-label="Add Users">
                    <md-icon class="fa fa-plus plus-icon"></md-icon>
                </md-button>
            </a>
        </div>
        <md-subheader class="md-no-sticky">{{json.title}}
        </md-subheader>
        <md-divider></md-divider>
        <md-list-item class="ls-head secondary-button-padding padlr16">
            <p ng-repeat="field in json.fields">{{field.name}}</p>
            <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action">
                <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:black;"></ng-md-icon>
            </md-button>
        </md-list-item>

        <div ng-hide="json.tableData.length>=0" class="loadingbox">
            Loading...
        </div>

        <md-list-item ng-show="json.tableData.length>=0" ng-repeat="result in json.tableData track by $index" class="secondary-button-padding padlr16">
            <p ng-repeat="field in json.fields">
                <span ng-if="field.type!='image' && result|getValue:field.tableRef:field.type!=''">{{result|getValue:field.tableRef:field.type}}</span>
                <span ng-if="field.type!='image' && result|getValue:field.tableRef:field.type ==''"></span>
                <span class="img-holder">
                    <img ng-src="{{result|getValue:field.tableRef:field.type}}" alt="" ng-if="field.type=='image'">
                </span>
            </p>
            <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action" ng-click="performAction(action,result)">
                <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:{{action.color}};"></ng-md-icon>
            </md-button>
        </md-list-item>
        <!-- {{pageInfo}}{{pagination}} -->
        <div class="" ng-if="pageInfo.totalitems"></div>
        <uib-pagination force-ellipses="true" boundary-link-numbers="true" max-size="16" rotate="true" ng-show="json.tableData.length>=0" ng-if="!search" ng-change="getMoreResults(true)" total-items="pageInfo.totalitems" ng-model="pagination.pagenumber" items-per-page="pagination.pagesize"></uib-pagination>
        <uib-pagination force-ellipses="true" boundary-link-numbers="true" max-size="16" rotate="true" ng-show="json.tableData.length>=0" ng-if="search && search !==''" ng-change="getMoreResults(true,search)" total-items="pageInfo.totalitems" ng-model="pagination.pagenumber" items-per-page="pagination.pagesize"></uib-pagination>

    </md-list>

    <a class="add-position" ui-sref="{{json.createButtonState}}" ng-if="json.title!='Subscribers'">
        <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add Users">
            <md-icon class="fa fa-plus plus-icon"></md-icon>
        </md-button>
    </a>
</section>
