<section class="md-whiteframe-z1 users">
  <md-list ng-cloak>
    <md-subheader class="md-no-sticky">{{json.title}}</md-subheader>
    <md-divider></md-divider>
  </md-list>

<form name="plan" class="padlr16">
  <md-input-container class="md-block" ng-repeat="field in json.fields">
    <div ng-if="field.type=='hidden'">
      <input ng-model="json.editData[field.model]" type="{{field.type}}" id="{{field.id}}">
    </div>
    <div ng-if="field.type=='text' || field.type=='email'">
      <label>{{field.name}}</label>
      <input ng-model="json.editData[field.model]" type="{{field.type}}" id="{{field.id}}" ng-if="field.tableRef!='user'">
      <input ng-model="armyName" type={{field.type}} ng-if="armyName" id="{{field.id}}" ng-if="field.tableRef=='user'">
      <!-- <div ng-messages="name.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
      </div> -->
    </div>
    <div ng-if="field.type=='readonly'">
      <label>{{field.name}}</label>
      <input ng-model="json.editData[field.model]" type="{{field.type}}" readonly="true" id="{{field.id}}">
    </div>
    <div ng-if="field.type=='select'">
      <label>{{field.name}}</label>
      <md-select ng-model="json.editData[field.model]">
        <md-option ng-repeat="item in field.url" value="{{item._id}}">{{item.name}}</md-option>
      </md-select>
    </div>
    <div ng-if="field.type=='selectFromTable'">
      <label>{{field.name}}</label>
      <md-select ng-model="json.editData[field.model]">
        <md-option ng-repeat="item in field.url" value="{{item._id}}">{{item.name}}</md-option>
      </md-select>
    </div>
  </md-input-container>

  <div ng-if="field.type=='image'">
      <label>Upload Image</label>
      <upload-image ng-model="field.model"></upload-image>
  </div>

  <md-list ng-cloak>
      <md-list-item class="md-2-line" ng-repeat="field in json.fields">
      <img ng-src="{{json.editData[field.model]}}" class="md-avatar" alt="{{json.editData[field.model]}}" ng-if="field.type=='image'"/>
        <div class="md-list-item-text" ng-if="field.type=='image'">
          <h3>{{field.name}}</h3>
        </div>
      </md-list-item>
  </md-list>

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ui-sref="{{json.action[0].stateName}}" ng-if="json.action[0].stateName">Back</md-button>
  </section>

</form>
</section>
