<div class="form-group">
  <label for="">Link</label>
  <div class="row">
    <div class="col-md-9">
      <!-- <input name="name" ng-model="userForm.link" type="text" class="form-control" id="link" placeholder="" disabled=""> -->
      <div class="input-group blue-border">
        <input type="text" type="text" class="form-control" id="linkText" aria-describedby="inputGroupSuccess4Status" disabled>
        <span class="btn btn-primary btn-outline btn-small create-btn input-group-addon" ng-click="open();">Change Link</span>
      </div>
    </div>
  </div>
</div>
