<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="footer-data dh-list mobile-center">
                  <ul class="padding0 margin0">
                    <li><a ui-sref="privacy-policy">Privacy Policy </a></li>
                    <li><a href="">Disclaimer</a></li>
                    <!-- <li><a href=""> Site map </a></li> -->
                    <!-- <li><a href="">Register for Updates</a></li> -->
                  </ul>
                </div>
                <div class="footer-social dh-list mt15 mobile-center pd10">
                  <ul class="padding0 margin0">
                    <li>
                      <a href="https://www.facebook.com/DharmaProductions/?fref=ts" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/DharmaMovies" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/dharmamovies/?hl=en" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href=" https://www.youtube.com/c/dharmamovies" target="_blank">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.pinterest.com/dharmamovies/" target="_blank">
                        <i class="fa fa-pinterest-p"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://plus.google.com/u/0/+DharmaMovies/posts" target="_blank">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>

                    <!-- <li>
                      <a href="">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li> -->
                  </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="float-right copy mt15 mobile-center pd18">
                    <p>Copyright © 2016 of Dharma Productions Pvt. Ltd.</p>
                    <p class="float-right mobile-center">Designed by <a href="http://www.ting.in/" target="_blank">TING</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
