<section>
    <div class="banner dh-relative">
        <img src="frontend/img/about.jpg" alt="Dharma Productions" class="img-responsive">
        <div class="banner-title text-center dh-absulate middle">
            <h1 class="color-white font-hammersmith f120 margin0">LET’S TALK</h1>
        </div>
    </div>
</section>
<section>
    <div class=" dh-relative" ng-controller="MapCtrl">
        <div style="height:100%; width:100%;">
            <div id="map" class="map" style="height:500px;"></div>
        </div>
        <div class=" dh-absulate add-show maps min-add">
            <h4>
Dharma Productions Pvt. Ltd.</h4>

            <div class="mt15">
                <p>201& 202 ,2nd Floor, Supreme Chambers,</p>
                <p>Off Veera Desai Road,17/18 Shah Industrial Estate,</p>
                <p>Andheri (W), Mumbai- 400053,India</p>

            </div>

            <span class="mt30">Tel No :- +91 22 61790100</span>
        </div>
    </div>



</section>
<section>
    <div class="container">
        <div class="padd-all-side">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="contact-info text-center">
                        <div class="info-icon display-inline">
                            <img src="frontend/img/info.png" alt="Dharma Productions">
                        </div>
                        <div class="info-text display-inline">
                            <h2 class="color-primary font-karla font-bold">INFO</h2>
                        </div>
                        <div class="descp">
                            <p>For info related queries email us<br>
                                on
                                <a href="">info@dharma-production.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="contact-info text-center">
                        <div class="info-icon display-inline">
                            <img src="frontend/img/creativity.png" alt="" alt="Dharma Productions">
                        </div>
                        <div class="info-text display-inline">
                            <h2 class="color-primary font-karla font-bold">CREATIVE</h2>
                        </div>
                        <div class="descp">
                            <p>For creative related queries email us<br>
                                on
                                <a href="">creative@dharma-production.com</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt20">
                <div class="col-md-6 col-sm-12">
                    <div class="contact-info text-center">
                        <div class="info-icon display-inline">
                            <img src="frontend/img/marketing.png" alt="" alt="Dharma Productions">
                        </div>
                        <div class="info-text display-inline">
                            <h2 class="color-primary font-karla font-bold">MARKETING</h2>
                        </div>
                        <div class="descp">
                            <p>For info marketing queries email us<br>
                                on
                                <a href="">
                                    marketing@dharma-production.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="contact-info text-center">
                        <div class="info-icon display-inline">
                            <img src="frontend/img/syndication.png" alt="" alt="Dharma Productions">
                        </div>
                        <div class="info-text display-inline">
                            <h2 class="color-primary font-karla font-bold">SYNDICATION</h2>
                        </div>
                        <div class="descp">
                            <p>For info syndication queries email us
                                <br>on
                                <a href="">syndication@dharma-production.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
