<div class="dark-bg padder-up pb70">
    <div class="container">
        <div class="text-center white-color">
            <h1 class="super-big font-hammersmith">Dharma &amp; You</h1>
            <p class="descriptive">Here’s the chance you’ve been waiting for. Got a question for someone at Dharma, ask them yourself!
                <br>You heard it here first..</p>
            <button class="btn btn-primary btn-grand btn-outline font-hammersmith text-upper" ng-click="openModal()">HAVE A QUESTION FOR THE TEAM AT DHARMA? CLICK HERE</button>
        </div>

        <!-- <div class="dharma-you">
            <div class="qsn-bg">
                <div class="row">
                    <div class="main-sec">
                        <div class="main-qsn-ans">
                            <div class="main-qsn">
                                <h4 class="font-karla font-bold color-black">Q: Why was Kal Ho Na Ho shot in New York and not London?</h4>
                                <p class="font-karla color-primary ml23">Zarna Parekh <span class="color-grey">May 9 | 6:06 AM</span></p>
                            </div>
                            <div class="main-ans mt15">
                                <p class="color-black">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                    survived not only five centuries, but also the leap into electronic typesetting Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
          <div class="main-sec2">
                            <div class="dh-relative">
                                <div class="main-dir">
                                    <Span class="color-black">Response by -</Span>
                                    <p class="color-primary margin0 text-up">KARAN JOHAR <span class="text-cap">(Director)</span></p>
                                    <span class="color-black">May 9   |   6:06 AM</span>
                                </div>
                            </div>


                            <div class="dh-relative">
                              <div class="img-set">
                                  <img src="frontend/img/karan-johar.png" alt="Dharma Productions" class="img-responsive">
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="qsn-bg2">
                <div class="row">
                    <div class="main-sec">
                      <div class="main-qsn-ans2">
                      <div class="main-qsn">
                          <h4 class="font-karla font-bold color-black">Q: Why was Kal Ho Na Ho shot in New York and not London?</h4>
                          <p class="font-karla color-primary ml23">Zarna Parekh <span class="color-grey">May 9 | 6:06 AM</span></p>
                      </div>
                      <div class="main-ans2 mt15">
                          <p class="color-black">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                              survived not only five centuries, but also the leap into electronic typesetting Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                          </p>
                      </div>
                  </div>
          <div class="main-sec2">
                            <div class="dh-relative">
                                <div class="main-dir2">
                                    <Span class="color-black">Response by -</Span>
                                    <p class="color-primary margin0 text-up">KARAN JOHAR <span class="text-cap">(Director)</span></p>
                                    <span class="color-black">May 9   |   6:06 AM</span>
                                </div>
                            </div>


                            <div class="dh-relative">
                              <div class="img-set2">
                                  <img src="frontend/img/karan-johar.png" alt="Dharma Productions" class="img-responsive">
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div> -->



        <div class="dharma-you" ng-repeat="t in dharmaPosts">
            <div class="qsn-bg" ng-if="t[0]">
                <div class="row">
                    <div class="main-sec">
                        <div class="main-qsn-ans">
                            <div class="main-qsn">
                                <h4 class="font-karla font-bold color-black">Q: {{t[0].question}}</h4>
                                <p class="font-karla color-primary ml23">{{t[0].user}} </p>

                            </div>
                            <div class="main-ans mt15">
                                <p class="color-black">
                                   {{t[0].answer}}
                                    <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                    survived not only five centuries, but also the leap into electronic typesetting Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
                                </p>
                            </div>
                        </div>
          <div class="main-sec2">
                            <div class="dh-relative">
                                <div class="main-dir">
                                    <Span class="color-black">Response by -</Span>
                                    <p class="color-primary margin0 text-up">{{t[0].dharmaAnswerUser.name}}</p>
                                       <!-- <span class="text-cap">(Director)</span></p> -->
                                    <span class="color-black">{{t[0].answerTimestamp|date:'MMM d'}} | {{t[0].answerTimestamp|date:'h:mm a'}}</span>
                                </div>
                            </div>


                            <div class="dh-relative">
                              <div class="img-set">
                                  <img ng-src="{{t[0].dharmaAnswerUser.image|uploadpath}}" alt="Dharma Productions" class="img-responsive">
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="qsn-bg2" ng-if="t[1]">
                <div class="row">
                    <div class="main-sec">
                      <div class="main-qsn-ans2">
                      <div class="main-qsn">
                          <h4 class="font-karla font-bold color-black">Q: {{t[1].question}}</h4>
                          <p class="font-karla color-primary ml23">{{t[1].user}} </p>
                      </div>
                      <div class="main-ans2 mt15">
                          <p class="color-black">
                            {{t[1].answer}}
                              <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                              survived not only five centuries, but also the leap into electronic typesetting Lorem Ipsum is simply dummy text of the printing and typesetting industry. -->
                          </p>
                      </div>
                  </div>
          <div class="main-sec2">
                            <div class="dh-relative">
                                <div class="main-dir2">
                                    <Span class="color-black">Response by -</Span>
                                    <p class="color-primary margin0 text-up">{{t[1].dharmaAnswerUser.name}}</p>
                                      <!-- <span class="text-cap">(Director)</span></p> -->
                                    <span class="color-black">{{t[1].answerTimestamp|date:'MMM d'}} | {{t[1].answerTimestamp|date:'h:mm a'}}</span>
                                </div>
                            </div>


                            <div class="dh-relative">
                              <div class="img-set2">
                                  <img ng-src="{{t[1].dharmaAnswerUser.image|uploadpath}}" alt="Dharma Productions" class="img-responsive">
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
