<section>
  <div class="top-banner dh-relative">
    <div class="">
      <img src="frontend/img/dharma-world-bg.jpg" alt="" class="img-responsive">
      <div class="dharma-word dh-absulate middle mob-mt-20 m-zero" >
        <img src="frontend/img/dharma-word.png" alt="Dharma Productions" class="img-responsive m-w-m">
        <div class="text-center f18 color-white mob-font-10 mob-web-font-10 ">
          <p class="margin0">For those whose dharma is Dharma, welcome home.</p>
  <p>Entertainment, Interaction, Merchandise and more; we bring to you the best of the Dharma Family.</p>
  <!-- <div class="fb-btn mt15 zoom-m">
    <button type="button" name="button"><i class="fa fa-facebook"></i>Connect With Facebook</button>
  </div> -->
        </div>
      </div>
    </div>
<!-- <div class="hidden-md hidden-lg hidden-sm">
  <img src="frontend/img/dharma-world2.jpg" alt="Dharma Production" class="img-responsive">
</div> -->
  </div>
</section>
<section class="min-m-flex">
  <div class="row-flex">
    <div class="col-flex">
      <div class="full-image">
        <a href=""><img src="frontend/img/dharma-world/d1.jpg" alt="Dharma Productions" class="img-responsive" ui-sref="dharma140({id:getFirstId})"></a>
      </div>
    </div>
    <div class="col-flex">
      <div class="full-image">
        <a href=""><img src="frontend/img/dharma-world/d2.jpg" alt="Dharma Productions" class="img-responsive" ui-sref="dharma-you"></a>
      </div>
    </div>
  </div>
  <div class="row-flex">
    <div class="col-flex">
      <div class="full-image">
        <a href=""><img src="frontend/img/dharma-world/d3.jpg" alt="Dharma Productions" class="img-responsive"></a>
      </div>
    </div>
    <div class="col-flex">
      <div class="full-image">
        <a href=""><img src="frontend/img/dharma-world/d4.jpg" alt="Dharma Productions" class="img-responsive" ui-sref="dharma-insta"></a>
      </div>
    </div>
  </div>
</section>
