<div class="dark-bg insta-bg padder-up">
    <div class="container">

        <div class="dharma-insta">
            <div class="text-center white-color">
                <h1 class="super-big font-hammersmith">Dharma Insta</h1>
                <p class="descriptive">Get Insta famous and win cool prizes with our weekly Instagram contests!</p>

                <h2 class="primary-color text-upper font-hammersmith mter">{{getInstaConfig[0].title}}</h2>
                <p ng-bind-html="getInstaConfig[0].description"></p>
                <!-- <p>{{getInstaConfig[0].description}}</p> -->
                <!-- <p>Upload a video enacting SRK’S Signature move with the #dharmainstapose.
                    <br>5 lucky winners will get a chance to win Dharma Merchandise.</p> -->

                <div class="insta-tv-box">
                    <div class="tv-img" style="background-image: url('{{getInstaConfig[0].thumbnail|uploadpath}}');"></div>
                    <!-- <img ng-src="{{getInstaConfig[0].thumbnail|uploadpath}}" height="360"> -->
                    <a class="various fancybox.iframe" fancybox rel="gallery1" href="{{getInstaConfig[0].url}}" rel="movies" data-fancybox-type="iframe">
                    <img src="frontend/img/play-btn.jpg" class="center-in">
                    <img src="frontend/img/tv-box.png" class="full-image">
                    </a>
                </div>

                <h2 class="primary-color text-upper font-hammersmith">#DHARMAINSTAPOSE</h2>
                <p>Shortlisted Entries</p>
            </div>
            <!-- <div class="text-center white-color">
                <h1 class="super-big font-hammersmith">Dharma Insta</h1>
                <p class="descriptive">Lorem Ipsum is simply dummy text of the printing and typesetting
                    <br>industry.</p>

                <h2 class="primary-color text-upper font-hammersmith mter">Contest 01</h2>
                <p>Upload a video enacting SRK’S Signature move with the #dharmainstapose.
                    <br>5 lucky winners will get a chance to win Dharma Merchandise.</p>

                <div class="insta-tv-box">
                    <div class="tv-img" style="background-image: url('frontend/img/srk-pose.jpg')"></div>
                    <img src="frontend/img/play-btn.jpg" class="center-in">
                    <img src="frontend/img/tv-box.png" class="full-image">
                </div>

                <h2 class="primary-color text-upper font-hammersmith">#DHARMAINSTAPOSE</h2>
                <p>Shortlisted Entries</p>
            </div> -->

            <div class="masonry-king">
                <div masonry>
                    <div class="masonry-brick" ng-repeat="t in myPosts" ng-if="t.status==true">

                      <div class="relative top-padder">
                      <div class="text-center">
                          <img src="frontend/img/tv-antena.png" class="antena-top">
                      </div>
                        <div class="tweet-img" ng-if="t.thumbnail">
                          <div class="blackoverlay"></div>
                            <img ng-src="{{t.thumbnail|uploadpath}}" height="360">
                            <a class="various fancybox.iframe" fancybox rel="gallery1" href="{{t.video}}" rel="movies" data-fancybox-type="iframe"><img src="frontend/img/play-btn.jpg" class="center-in"></a>
                            <!-- <a class="various fancybox.iframe" fancybox rel="gallery1" href="https://scontent-sit4-1.cdninstagram.com/t50.2886-16/14043079_1668766116777096_983054528_n.mp4" rel="movies" data-fancybox-type="iframe"><img src="frontend/img/play-btn.jpg" class="center-in"></a> -->
                        </div>
                      </div>
                        <div class="tweet-holder">

                            <div class="item-avatar">
                              <!-- <div class="imaged"><img ng-src="{{t.image|uploadpath}}" alt=""></div> -->
                                <div class="imaged" style="background-image: url('{{t.image|uploadpath}}');"></div>
                                <h3>
                                    <span class="text-upper primary-color">{{t.name}}</span>@{{t.name}}</h3>
                                <span>{{t.timeStamp|date:'MMM d'}}
                                    |
                                    {{t.timeStamp|date:'h:mm a'}}</span>
                            </div>
                            <div class="post-holder">
                                {{t.content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
