<div class="dharma-movies-bg">
    <section>
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="head-title">
                        <h1 class="color-primary f120 text-up font-hammersmith">Movies</h1>
                    </div>
                    <div class="search-rslt mt15" ng-if="mySearchFor">
                        <span class="color-primary">Displaying Result For '{{mySearchFor}}'</span>
                    </div>
                    <div class="search-movie dh-relative search-movie-mar">
                        <div class="search-img">
                            <img src="frontend/img/search-grey.png" alt="Dharma Productions" class="doneLoading">
                        </div>
                        <!-- <input type="search" ng-change="DoSearch(searchdata.search)" ng-model="searchdata.search" name="name" value="" class="search-in colorchange" placeholder="Search for your favourite movie">
                        <div class="search-img2" ng-if="getsearch" ng-click="viewSearch();">
                            <img src="frontend/img/error2.png" alt="Dharma Productions">
                        </div> -->
                        <div class="movie-search-pg">
                            <ui-select ng-model="movie.selected" ng-change="DoSearch(movie.selected.name,movie.selected._id)" style="width: 100%;" title="Search Movie" class="search-drop">
                                <ui-select-match placeholder="Search for a Movie">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="movie in allMovieName | filter: {name:$select.search}">
                                    <div class="movi-src-rslt">
                                        <div class="display-inline w60">
                                            <!-- <img src="frontend/img/movie-search.png" alt=""> -->
                                            <img ng-src="{{movie.smallImage|uploadpath}}" alt="" ng-if="movie.releaseType=='Past'">
                                            <img ng-src="{{movie.recentSmall|uploadpath}}" alt="" ng-if="movie.releaseType=='Recent'">
                                            <img ng-src="{{movie.upcomingSmall|uploadpath}}" alt="" ng-if="movie.releaseType=='Upcoming'">
                                        </div>
                                        <div class="display-inline ml15">
                                            <span ng-bind-html="movie.name | highlight: $select.search"></span>
                                            <span ng-if="movie.year">({{movie.year}})</span>
                                        </div>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="search-img2" ng-if="mySearchFor" ng-click="viewSearch(mySearchFor);">
                            <img src="frontend/img/error-2.png" alt="Dharma Productions">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section ng-if="nodata">
        <div>
            <h1>
                <center>No Movie Found</center>
            </h1>
        </div>
    </section>

    <section ng-if="getsearch==false">

        <section class=" dharma-top-pad slider-nav" ng-if="movieList.Upcoming && movieList.Upcoming!='' &&  movieList.Upcoming.length>0">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="upcoming-movie mt30 common-class ">
                            <div class="title ">
                                <h1 class="ml15 mb0 color-primary font-hammersmith f55 line50">UPCOMING RELEASES</h1>
                            </div>
                            <div class="upcoming-slider mob-arrow no-ar">
                                <flex-slider flex-slide="item in movieList.Upcoming | orderBy: 'upcomingOrder' track by $index " animation="slide " animationloop="true " move="1 " slideshowSpeed=3000>
                                <li>
                                    <div class="video-box ">
                                        <div class="video-slide-img ">
                                            <a ng-if="item.status==true" ui-sref="movie-inside({id:item._id})">
                                                <img ng-src="{{item.bigImage|uploadpath}} " alt="Dharma Productions ">
                                            </a>
                                            <a ng-if="item.status==false">
                                                <img ng-src="{{item.bigImage|uploadpath}} " alt="Dharma Productions ">
                                            </a>
                                        </div>

                                    </div>
                                </li>
                            </flex-slider>
                        </div>
                        <!-- <div class="upcoming-slider mob-arrow ">
                            <flex-slider flex-slide="item in upcomingrelease track by $index " animation="slide " animationloop="true " move="1 ">
                                <li>
                                    <div class="video-box ">
                                        <div class="video-slide-img ">
                                            <a ui-sref="movie-inside "> <img ng-src="{{item.img}} " alt="Dharma Productions "></a>
                                        </div>

                                    </div>
                                </li>
                            </flex-slider>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="dharma-movies-bg2 " ng-if="movieList.Recent && movieList.Recent!='' &&  movieList.Recent.length>0">
    <div class="orange-bg ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="recent-movie ">
                        <div class="title ">
                            <h1 class="ml15 mb0 color-primary font-hammersmith line30 f55 ">
                                RECENT RELEASES
                            </h1>
                        </div>
                        <div class="upcoming-slider slider-right " ng-if="showRecent">
                            <!-- <flex-slider  flex-slide="item in movieList.Recent track by $index " animation="slide " animationloop="true " move="1 ">
                                        <a ui-sref="movie-inside({id:item._id})">
                                            <li>
                                                <div class="row " ng-repeat="datas in item track by $index">
                                                    <div class="col-md-6 col-sm-6 col-xs-12 " ng-repeat="data in datas track by $index ">
                                                        <a ui-sref="movie-inside({id:data._id})">
                                                            <div class="video-box mb20 common-class ">
                                                                <div class="video-slide-img img-pads ">
                                                                    <img ng-src="{{data.mediumImage|uploadpath}} " alt="Dharma Productions ">
                                                                </div>
                                                                <div class="video-name font-karla text-up ">
                                                                    <span>{{data.name | shorten : 60}} ({{data.year}})</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                    </flex-slider> -->
                            <div class="div-none-slide" ng-repeat="item in movieList.Recent track by $index">
                                <div class="row" ng-repeat="datas in item track by $index">
                                    <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="data in datas | orderBy: '-upcomingOrder' track by $index ">
                                        <a ui-sref="movie-inside({id:data._id})">
                                            <div class="video-box mb20 common-class ">
                                                <div class="video-slide-img img-pads ">
                                                    <img ng-src="{{data.mediumImage|uploadpath}} " alt="Dharma Productions " class="img-responsive">
                                                </div>
                                                <div class="video-name font-karla text-up ">
                                                    <span>{{data.name | shorten : 60}}
                                                        ({{data.year}})</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="upcoming-slider slider-right ">
                            <flex-slider flex-slide="videobreak in video track by $index " animation="slide " animationloop="true " move="1 ">
                                <li>
                                    <div class="row " ng-repeat="videobreaks in videobreak ">
                                        <div class="col-md-6 col-sm-6 col-xs-12 " ng-repeat="item in videobreaks ">
                                            <div class="video-box mb20 common-class ">
                                                <div class="video-slide-img img-pads ">
                                                    <img ng-src="{{item.img}} " alt="Dharma Productions ">
                                                </div>
                                                <div class="video-name font-karla text-up ">
                                                    <span>{{item.name}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </flex-slider>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dharma-movies-bg3 " ng-if="movieList.Past && movieList.Past!='' &&  movieList.Past.length>0">
    <div class="orange-bg recent-movie ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="upcoming-movie ">
                        <div class="title ">
                            <h1 class="ml15 mb0 color-primary font-hammersmith line30 f55 ">
                                PAST RELEASES</h1>
                            <!-- <pre>{{movieList.past}}</pre> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-row hidden-xs">
                <div class="row-flex text-center " ng-repeat="videos in movieList.Past | orderBy:'-upcomingOrder' track by $index">
                    <div class="col-flex " ng-repeat="item in videos track by $index ">

                        <a ui-sref="movie-inside({id:item._id})">
                            <div class="img-pads ">
                                <img ng-src="{{item.smallImage|uploadpath}} " alt="Dharma Productions " class="img-responsive ">
                            </div>
                            <div class="movie-names ">
                                <h4 class="text-up color-grey ">{{item.name |shorten : 20}}
                                    <br>({{item.year}})
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mob-slider hidden-md hidden-sm hidden-lg visible-xs" ng-repeat="videos in movieList.Past track by $index">
                <flex-slider flex-slide="item in videos track by $index " animation="slide" item-width="207" item-margin="20" animationloop="true" move="1">
                    <li>
                        <a ui-sref="movie-inside({id:item._id})">
                            <div class="img-pads">
                                <img ng-src="{{item.smallImage|uploadpath}}" alt="Dharma Productions" class="img-responsive">
                            </div>
                            <div class="movie-names">
                                <h4 class="text-up color-grey">{{item.name|shorten : 20}}<br>({{item.year}})</h4>
                            </div>
                        </a>
                    </li>
                </flex-slider>
            </div>
            <!-- <div class="mobile-row " ng-show="viewAll">
                        <div class="row-flex text-center " ng-repeat="videos in movieList.PastMore track by $index">
                            <div class="col-flex " ng-repeat="item in videos track by $index ">
                                <a ui-sref="movie-inside({id:item._id})">
                                    <div class="img-pads ">
                                        <img ng-src="{{item.smallImage|uploadpath}} " alt="Dharma Productions " class="img-responsive ">
                                    </div>
                                    <div class="movie-names ">
                                        <h4 class="text-up color-grey ">{{item.name |shorten : 20}} <br>({{item.year}}) </h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div> -->
            <div class="text-center " ng-show="searchdata.search == '' && !viewAll">
                <div class="dh-relative ">
                    <div class="btn-view-more mt15 mb20 text-center ">
                        <a class="btn-1 font-hammersmith btn color-primary display-inline " ng-click="showViewAll();">
                            <svg>
                                <rect x="0 " y="0 " fill="none " width="100% " height="100% "/>
                            </svg>
                            VIEW ALL
                        </a>
                        <!-- <button type="button " name="button " class="btn-primary-outline font-hammersmith btn-enter "></button> -->
                    </div>
                </div>
            </div>
            <div class="mobile-row hidden-xs" ng-if="viewAll">
                <div class="row-flex text-center " ng-repeat="videos in movieList.PastMore track by $index">
                    <div class="col-flex " ng-repeat="item in videos track by $index ">
                        <a ui-sref="movie-inside({id:item._id})">
                            <div class="img-pads ">
                                <img ng-src="{{item.smallImage|uploadpath}} " alt="Dharma Productions " class="img-responsive ">
                            </div>
                            <div class="movie-names ">
                                <h4 class="text-up color-grey ">{{item.name |shorten : 20}}
                                    <br>({{item.year}})
                                </h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mob-slider hidden-md hidden-sm hidden-lg visible-xs" ng-repeat="videos in movieList.PastMore track by $index" ng-if="viewAll">
                <flex-slider flex-slide="item in videos track by $index " animation="slide" item-width="207" item-margin="20" animationloop="true" move="1">
                    <li>
                        <a ui-sref="movie-inside({id:item._id})">
                            <div class="img-pads">
                                <img ng-src="{{item.smallImage|uploadpath}}" alt="Dharma Productions" class="img-responsive">
                            </div>
                            <div class="movie-names">
                                <h4 class="text-up color-grey">{{item.name|shorten : 20}}<br>({{item.year}})</h4>
                            </div>
                        </a>
                    </li>
                </flex-slider>
            </div>


        </div>
    </div>

</section>
<section ng-if="getsearch || mysearch.length>0">
    now search
    <div class="container">
        <div class="row ">
            <!-- drtfghujedrfghj{{mysearch[0]}} -->
            <div class="col-md-3 padding0 col-sm-4 col-sx-12 " ng-repeat="item in mysearch track by $index ">
                <div class="tv-box">

                    <!-- <div class="img-inside-box "> -->
                    <img ng-src="{{item.upcomingSmall|uploadpath}} " alt="Dharma Productions " class="img-responsive width100 ">

                    <!-- </div> -->
                    <!-- <div class="video-names mt10 ">
              <span class="color-white text-cap m-font12 ">{{item.description}}</span>
           </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
