<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="dharma-sun">
                    <img src="frontend/img/sun.png" alt="Dharma World" class="img-responsive">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="news-search">
                    <div class="search-movie dh-relative">
                        <div class="search-img">
                            <img src="frontend/img/search.png" alt="Dharma Productions">
                        </div>
              <input type="search" name="name" ng-change="doSearch();" ng-model="filter.search" value="" class="search-date" placeholder="Search">
                        <div class="search-img2" ng-if="crossdisplay" ng-click="closeCross();">
                            <img src="frontend/img/error3.png" alt="Dharma Productions">
                        </div>
                    </div>
                    <div class="mt15 mobile-text-center">
                        <div class="display-inline date-select">
                            <!-- <select class="form-control">
      <option  value="Month"><a href="">Month</a></option>
      <option  value="Jan"><a href="">Jan</a></option>
      <option  value="Feb"><a href="">Feb</a></option>
      <option  value="March"><a href="">March</a></option>

    </select> -->
    <div class="dropdown custom-dropdown">
       <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span ng-if="!getMonth">Month</span>
          <span ng-if="getMonth">{{getMonth| getMonthAlpha}}</span>
          <img src="frontend/img/select-arrow.png" alt="">
       </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li ng-repeat="data in month"><a ng-click="getNewsMonth(data)">{{data| getMonthAlpha}}</a></li>
          <!-- <li><a href="">Feb</a></li>
          <li><a href="">March</a></li>+ -->

       </ul>
    </div>
                        </div>
                        <div class="display-inline date-select ml15">
                            <!-- <select class="form-control">
                                <option value="Year">Year</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>

                            </select> -->
                            <div class="dropdown custom-dropdown">
                               <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  <span ng-if="!getYear">Year</span>
                                  <span ng-if="getYear">{{getYear}}</span>
                                  <img src="frontend/img/select-arrow.png" alt="">
                               </button>
                               <!-- <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                  Year
                                  <img src="frontend/img/select-arrow.png" alt="">
                               </button> -->
                               <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                  <li ng-repeat="data in monthYear.year|orderBy:'-'"><a ng-click="getNewsYear(data)">{{data}}</a></li>
                                  <!-- <li><a href="">2015</a></li>
                                  <li><a href="">2014</a></li> -->

                               </ul>
                            </div>
                        </div>
                        <div class="btn-go display-inline ml15">
                            <button class="btn" type="submit" ng-click="doSearch()">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section ng-if="!getSearchNews">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="movie-inside-curve m15-top" id="top-scroll"></div>
                    <div class="movie-inner-bg mrgin-20 ">
                        <h1 class="font-karla text-cap color-black margin0 f24-sem">{{getOneNews.title}}</h1>
                        <span class="color-light-grey top-set">{{getOneNews.date | date:'dd MMM yyyy'}}</span>
                        <div class="banner-news">
                          <img ng-src="{{getOneNews.banner | uploadpath}}" alt="Dharma Productions" class="img-responsive width100">
                        </div>
                        <div class="news-data color-white" ng-bind-html="getOneNews.text">
                          <!-- <p>Films as varied as “Raajneeti”, “Rockstar”, “Yeh Jawaani Hai Deewani” and “Barfi!” have been a window to his versatility. But Ranbir Kapoor says his “Tamasha” co-star and former girlfriend Deepika
Padukone, whom he calls a “mastikhor (fun-lover)”, “scares” him as an actor.</p>
<p>
“Deepika’s growth has been immense as an actor. It feels great whenever I work with her and I feel the most creatively satisfied working with her. I look up to her as an actor, and she scares me as an actor,” Ranbir said here during a media interaction.
</p>
<p>Together, the two actors have worked in “Bachna Ae Haseeno” and “Yeh Jawaani Hai Deewani”. And Ranbir feels time has only improved Deepika personally and professionally.
</p>
<p>“When I worked with her in ‘Bachna Ae Haseeno’, she was a very different entity. She was shy, demure and a little
introvert. Then when I worked with her in ‘Yeh Jawaani Hai Deewani’, there was a sudden leap and
understanding of cinema and life, and little bit baring of her soul which we are all scared to do,” he shared.
</p>
<p>Ranbir also said that “apart from the grace and dignity”, Deepika is a jovial, fun-loving person.</p>
<p>“You can speak to her, you can dance with her, you can have fun with her, you can do cheap Ganpati dance with her and she reciprocates very well,” he quipped.</p>
<p>From being friends to lovers and now friends again, there’s a unique bond that Deepika and Ranbir seem to share.</p>
<p>“It’s been an amazing journey,” Deepika said.</p>
<p>“It’s nice to see the person he has become, his journey and the films he has done… how talented he is. Working with him makes you a better person and actor because he is so good at his work that he makes you look good on screen.” she added.
</p>
<p>For “Tamasha”, the two actors have been directed by Imtiaz Ali, with whom Ranbir has worked in
“Rockstar” and Deepika has worked in “Love Aaj Kal”.</p>
<p>“We couldn’t have asked for a better combination,” Ranbir said.</p>
<p>The film, releasing on November 27, tells the journey of a man who loses himself by living according to the social conventions expected of him.</p> -->
                        </div>
                    </div>
                    <div class="share-section mt15 pb40 text-c-m">
                      <h4 class="color-white font-bold font-karla display-inline dis-bl">Share this article on</h4>
                      <div class="display-inline">
                        <button type="button" name="button"><i class="fa fa-facebook"></i>facebook</button>
                      </div>
                      <div class="display-inline">
                        <button type="button" name="button"><i class="fa fa-twitter"></i>twitter</button>
                      </div>
                      <div class="display-inline">
                        <button type="button" name="button"><i class="fa fa-google-plus"></i>google+</button>
                      </div>
                    </div>


<!-- ------------------------------related Articles--------------------------------- -->


                    <div class="row pb40" ng-if="getOneRelated.length>0">
                      <h1 class="color-white font-hammersmith text-up line45 margin0 ml15">Related Articles</h1>
                      <div class="col-md-4 col-sm-4 col-xs-12 mob-top-em" ng-repeat="article in getOneRelated">
                        <div class="black-bg makePointer" ui-sref="news-detail({id:article._id})">
                           <img ng-src="{{article.image|uploadpath}}" alt="Dharma Production" class="img-responsive">
                           <div class="padd10">
                              <div class="news-title mt10">
                                 <h4 class="margin0">{{article.title}}</h4>
                              </div>
                              <div class="news-date">
                                 <span class="f12">{{article.date| date:'dd MMM yyyy'}}</span>
                              </div>
                              <!-- <div class="news-descp mt10 h70" ng-bind-html="article.text|cut:true:100">

                              </div> -->
                           </div>
                        </div>
                      </div>
                      <!-- <div class="col-md-4 col-sm-4 col-xs-12 mob-top-em" >
                        <div class="black-bg">
                           <img ng-src="frontend/img/news/n1.jpg" alt="Dharma Production" class="img-responsive">
                           <div class="padd10">
                              <div class="news-title mt10">
                                 <h4 class="margin0">Bahubali bags The Best Film
Of 2015 National Award</h4>
                              </div>
                              <div class="news-date">
                                 <span class="f12">21 Mar 2016</span>
                              </div>
                              <div class="news-descp mt10">
                                <p>SS Rajamouli's "Bahubali: The Beginning" (also spelt as Baahubali), starring Prabhas and Rana Daggubati, has won the Best Feature Film at the 63rd National Film Award (NFA). </p>
                              </div>
                           </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 mob-top-em" >
                        <div class="black-bg">
                           <img ng-src="frontend/img/news/n1.jpg" alt="Dharma Production" class="img-responsive">
                           <div class="padd10">
                              <div class="news-title mt10">
                                 <h4 class="margin0">Bahubali bags The Best Film
Of 2015 National Award</h4>
                              </div>
                              <div class="news-date">
                                 <span class="f12">21 Mar 2016</span>
                              </div>
                              <div class="news-descp mt10">
                                <p>SS Rajamouli's "Bahubali: The Beginning" (also spelt as Baahubali), starring Prabhas and Rana Daggubati, has won the Best Feature Film at the 63rd National Film Award (NFA). </p>
                              </div>
                           </div>
                        </div>
                      </div> -->
                    </div>

<!-- ----------------------------------------End of related Articles-------------------------------------------->

                </div>
            </div>
        </div>
        </div>
    </section>



<!-- ------------------------------------------------search UI----------------------------------- -->

    <section>
       <div class="container" ng-if="getSearchNews">
           <div infinite-scroll='loadMore()' infinite-scroll-disabled="shouldscroll">
          <div class="row">
             <div class="col-xs-12">
                <div class="all-movies custom-box mob-mt-top">
                   <div masonry preserve-order masonry-options="{ fitWidth: 'true'}" class="margin-auto">
                      <div class="masonry-brick" ng-repeat="item in news10 track by $index">
                        <a ui-sref="news-detail({id:item._id})">

                         <div class="masonry-box">
                     <img ng-src="{{item.image | uploadpath}}" alt="Dharma Production">
                     <div class="padd10">
                         <div class="news-title">
                             <h4 class="margin0">{{item.title }}</h4>
                         </div>
                         <div class="news-date">
                             <span class="f12">{{item.date | date:'dd MMM yyyy'}}</span>
                         </div>
                         <!-- <div class="news-descp mt10" ng-bind-html="item.text">

                         </div> -->
                     </div>
                 </div>
               </a>
                      </div>
                   </div>
                   <div ng-if="noNewsFound">
                       <center><strong><h1>No news Found</h1></strong></center>
                   </div>
                   <!-- <div class="text-center cast-credit" ng-if="!forViewMore && !noNewsFound">
                      <div class="text-center btn-view-news mt40">

                         <a class="btn-1 font-hammersmith btn color-primary" ng-click="ViewMore(myTotal)">
                            <svg>
                               <rect x="0" y="0" fill="none" width="100%" height="100%" />
                            </svg>
                            VIEW MORE
                         </a>
                      </div>
                   </div> -->
                   <!-- <div class="text-center cast-credit" ng-if="!noviewmore">
                      <div class="text-center btn-view-news mt40">

                         <a class="btn-1 font-hammersmith btn color-primary" ng-click="ViewMore(myTotal)">
                            <svg>
                               <rect x="0" y="0" fill="none" width="100%" height="100%" />
                            </svg>
                            VIEW MORE{{noviewmore}}
                         </a>
                      </div>
                   </div> -->
                </div>
              </div>

    <!-- <div ng-if="noNewsFound" style="min-height:400px"><center><strong><h1>No News Found</h1></strong></center></div> -->
             </div>
           </div>
          </div>
          <!-- <div ng-if="noNewsFound" style="min-height:400px">
              <center><strong><h1>No news Found</h1></strong></center>
          </div> -->
       </div>
       <!-- <div ng-if="noNewsFound"><center><strong><h1>No News Found</h1></strong></center></div> -->
    </section>

<!-- ------------------------------------------------End of search UI----------------------------------- -->

</section>
