<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="dharma-sun">
                    <img src="frontend/img/sun.png" alt="Dharma World" class="img-responsive">
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="news-search">
                    <div class="search-movie dh-relative ">
                        <div class="search-img">
                            <img src="frontend/img/search.png" alt="Dharma Productions">
                        </div>
                        <div class="search-img2" ng-if="crossdisplay" ng-click="closeCross();">
                            <img src="frontend/img/error3.png" alt="Dharma Productions">
                        </div>
                        <input type="search" name="name" ng-change="doSearch();" ng-model="filter.search" value="" class="search-date" placeholder="Search">


                    </div>
                    <div class="mt15 mobile-text-center">
                        <div class="display-inline date-select">
                            <!-- <select class="form-control">
      <option  value="Month"><a href="">Month</a></option>
      <option  value="Jan"><a href="">Jan</a></option>
      <option  value="Feb"><a href="">Feb</a></option>
      <option  value="March"><a href="">March</a></option>

    </select> -->
                            <div class="dropdown custom-dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span ng-if="!getMonth">Month</span>
                                    <span ng-if="getMonth">{{getMonth | getMonthAlpha}}</span>
                                    <img src="frontend/img/select-arrow.png" alt="">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="data in month"><a ng-click="getNewsMonth(data)">{{data| getMonthAlpha}}</a></li>
                                    <!-- <li><a href="">Feb</a></li>
                           <li><a href="">March</a></li>+ -->

                                </ul>
                            </div>
                        </div>
                        <div class="display-inline date-select ml15">
                            <!-- <select class="form-control">
                                <option value="Year">Year</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>

                            </select> -->
                            <div class="dropdown custom-dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span ng-if="!getYear">Year</span>
                                    <span ng-if="getYear">{{getYear}}</span>
                                    <img src="frontend/img/select-arrow.png" alt="">
                                </button>
                                <!-- <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                           Year
                           <img src="frontend/img/select-arrow.png" alt="">
                        </button> -->
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="data in monthYear.year|orderBy:'-'"><a ng-click="getNewsYear(data)">{{data}}</a></li>
                                    <!-- <li><a href="">2015</a></li>
                           <li><a href="">2014</a></li> -->

                                </ul>
                            </div>
                        </div>
                        <div class="btn-go display-inline ml15">
                            <button class="btn" type="submit" ng-click="doSearch()">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
              <div infinite-scroll='loadMore()' infinite-scroll-disabled="shouldscroll">
            <div class="row">
                <div class="col-xs-12">
                    <div class="all-movies custom-box mob-mt-top" style="min-height:400px;">
                        <div masonry preserve-order masonry-options="{ fitWidth: 'true'}" class="margin-auto">
                            <div class="masonry-brick" ng-repeat="item in news10 track by $index">
                                <a ui-sref="news-detail({id:item._id})">

                                    <div class="masonry-box">
                                        <img ng-src="{{item.image | uploadpath}}" alt="Dharma Production">
                                        <div class="padd10">
                                            <div class="news-title">
                                                <h4 class="margin0">{{item.title}}</h4>
                                            </div>
                                            <div class="news-date">
                                                <span class="f12">{{item.date | date:'dd MMM yyyy'}}</span>
                                            </div>
                                            <!-- <div class="news-descp mt10" ng-bind-html="item.text">

                                            </div> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- <div class="text-center cast-credit" ng-if="!forViewMore && !noNewsFound">
                            <div class="text-center btn-view-news mt40">

                                <a class="btn-1 font-hammersmith btn color-primary" ng-click="ViewMore(myTotal)">
                                    <svg>
                                        <rect x="0" y="0" fill="none" width="100%" height="100%" />
                                    </svg>
                                    VIEW MORE
                                </a>
                            </div>
                        </div> -->
                        <div ng-if="noNewsFound">
                            <center><strong><h1>No news Found</h1></strong></center>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>

    </section>
</section>
