<section>
    <div class="abt-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="head-title text-center top-pad-abt">
                        <h1 class="color-white f120 text-up font-hammersmith">about us</h1>
                    </div>
                </div>

            </div>
            <div class="row">
              <div class="col-md-12">


                <div class="main-about-sec">
                    <div class="movie-inside-curve" id="top-scroll"></div>

                    <div class="movie-inner-bg">
                        <div class="m-min-tp">
                            <div class="text-center pt20">
                                <h1 class="color-primary font-bold text-up margin0">Heart-warming storylines...</h1>
                                <h1 class="color-primary font-bold text-up margin0">Stellar megastar casts...</h1>
                                <h1 class="color-primary font-bold text-up margin0">Record box-office collections...</h1>
                            </div>
                            <div class="data-abt mt20 movie-inside-date pb30">
                                <p>
                                    These are what make up our celluloid dreams at Dharma Productions. Enrapturing audiences all around the world, our films have raked in success for the company and its associates.
                                </p>
                                <p>
                                    Established by Late Shri Yash Johar in 1976, Dharma Productions endeavor has always been to produce high quality cinema that is accepted and appreciated by audiences across the world. Soon after its inception, Dharma Productions became a buzzword for
                                    stellar productions such as 'Dostana', 'Duniya', 'Muqaddar Ka Faisla', 'Agneepath' and 'Gumrah'.
                                </p>
                                <p>
                                    Dharma's reputation as a clean, honest company grew with each of these films and helped build a tremendous amount of goodwill within the fraternity and outside of it.</p>
                                <p>
                                    What followed next was cinematic history from Dharma Productions.
                                </p>
                                <p>
                                    With a clear vision of how he wanted to nurture Dharma Productions, Karan Johar embarked on producing films with independent directors under his banner. Karan also embarked on a journey to actively nurture young directors. To give them a voice and to
                                    make their kind of cinema...cinema for the young, by the young. His protégés went on to create a world within a world...with beautiful stories told.
                                </p>
                                <p>
                                    Dostana (Friendship), Tarun Mansukhani's directorial debut, was released worldwide in November 2008. Rated as one of the finest comedies of the year, Dostana continued Dharma Productions' endeavor to push the envelope thematically.
                                </p>
                                <p>
                                    Dostana (Friendship), Tarun Mansukhani's directorial debut, was released worldwide in November 2008. Rated as one of the finest comedies of the year, Dostana continued Dharma Productions' endeavor to push the envelope thematically.
                                </p>
                                <p>
                                    Oct 2, 2010 saw the release of Wake up Sid. Helmed by debutant Ayan Mukherjee, this film saw both critical and commercial acclaim. November 2009 was marked by another release Kurbaan. Rensil D'Silva's directorial debut had Saif Ali Khan and Kareena Kapoor
                                    in leading roles. Once again, Dharma Productions looks at a new theme, albeit controversial, taking story telling and pushing the envelope to newer heights.
                                </p>
                                <p>
                                    With its fingers firmly entrenched on the pulse of the audience, Dharma released yet another enchanting love story in July of 2010. I Hate Luv Storys marked the debut of Punit Malhotra. Starring Imran Khan and Sonam Kapoor
                                </p>
                                <p>
                                    Moving forward Dharma Productions will continue its journey of bringing enjoyable, path breaking cinema which will be appreciated by both the masses and classes. Under the leadership of Karan Johar, Dharma is committed to nurturing and giving a voice
                                    to new talent across all spectrums of film making.
                                </p>
                                <p>
                                    Ek Main Aur Ekk Tu marked the debut of another talent in the camp - director Shakun Batra. 2012 saw the soaring success of “Student Of The Year” which launched three promising newcomers Varun Dhawan, Siddharth Malhotra & Alia Bhatt. Student Of The Year
                                    has been appreciated by the critics as well the audiences.
                                </p>
                                <p>
                                    In early May 2013, debutant director Sonam Nair released her first movie with Dharma Productions, the coming of age story of Gurpreet Kaur, a.k.a. Gippi. Soon after Gippi came Yeh Jawaani Hai Deewani. The movie boasted big stars, a hit pair, and the music
                                    created massive anticipation for the release.

                                </p>
                                <p>
                                    Moving forward Dharma Productions will continue its journey of bringing some classic, enjoyable movies to the audiences.
                                </p>
                                <p>
                                    Many miles to go before I sleep....is not merely a statement but an adage that we at Dharma Productions live by. Lots of stories to be told...lots of hidden talent to be discovered...and lots of movies to be made.
                                </p>
                                <p>
                                    See you at the movies!!
                                </p>
                            </div>
                            <div class="karan-img dh-relative pb30">
                                <img src="frontend/img/m1.jpg" alt="Dharma Productions" class="img-responsive">
                                <div class="movie-inside-date top-min">
                                    <div class="mn-org">
                                        <div class="text-center">
                                            <h1 class="margin0 font-bold color-white">KARAN JOHAR</h1>
                                            <h4 class="margin0 font-bold color-white text-up">many hats, one head.</h4>


                                        </div>
                                        <p class="color-white f18 mt15 f14-min">Producer, Director & talk show host, Karan Johar is one of the most profile indian filmmakers, who brought a fresh & modern outlook to Indian commercial cinema.</p>
                                    </div>
                                    <p class="mt20">
                                        Karan Johar made his directorial debut at age 25 with a path breaking love story 'Kuch Kuch Hota Hai'. The film remains a landmark in Indian cinema for the appreciation it received, both critically and commercially, in India as well as the world. Following
                                        this, over the last 15 years, he has directed and written critically and commercially acclaimed blockbusters like Kabhie Khushi Kabhi Gham, Kabhi Alvida Na Kehna and My Name is Khan.
                                    </p>
                                    <p>
                                        The multi-faceted Karan wears many caps with ease. Besides being an acclaimed director and one of the most influential men in the industry today, Karan is also a television personality, a talk show host, a costume designer and the latest feather in his
                                        cap is that of being an actor. His talk show Koffee With Karan has the distinction of being the most watched English talk show on Indian television.
                                    </p>
                                    <p>
                                        In addition to personal success and accomplishment, Karan Johar has also been a mentor to many successful directors in India. Directors have flourished under his guidance and support as a producer, releasing both commercial blockbusters like Agneepath,
                                        Dostana and Yeh Jawaani Hai Deewani, as well as critical indie successes like Wake Up Sid and Ek Main Aur Ek Tu.
                                    </p>
                                    <p>
                                        The name Karan Johar is synonymous with prestige, elegance, versatility and success. He is amongst a prolific group of Indian film makers who have brought about a fresh and modern outlook to Indian commercial cinema and has contributed greatly to the
                                        transformation of Hindi cinema from his very first film.
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                  </div>
            </div>
        </div>
    </div>
</section>
