<div class="white-orange-bg">
  <div class="closure" ng-click="$dismiss()"><i class="fa fa-close"></i></div>
<div class="text-center h3-main">
  <h3 class="text-up color-primary margin0">THANK YOU  FOR subscribING!</h3>
  <h3 class="text-up color-primary margin0">we promise your inbox won't be disAppointed.</h3>

  <div class="btn-view-more mt15 some-c">
      <a ng-click="$dismiss()" class="btn-1 font-hammersmith btn color-primary float-right mobile-center pall10">
          <svg class="">
              <rect x="0" y="0" fill="none" width="100%" height="100%" />
          </svg>
          continue to site
      </a>
      <!-- <button type="button" name="button" class="btn-primary-outline font-hammersmith btn-enter"></button> -->
  </div>
</div>
</div>
