/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

/* Bootstrap Variables Goes Here */

@import "other/font-fix";
body {
    padding-top: 70px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}