@import 'https://fonts.googleapis.com/css?family=Hammersmith+One|Karla:400,700';
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../../bower_components/flexslider/flexslider";
@import "../../bower_components/font-awesome/css/font-awesome.min";
@import "../../bower_components/fancyBox/source/jquery.fancybox";
@import "../../bower_components/swiper/dist/css/swiper.min";
@import "../../bower_components/angular-ui-select/dist/select";
@import "../../bower_components/fancyBox/source/helpers/jquery.fancybox-thumbs";
/* Bootstrap Variables Goes Here */
$brand-primary: #f37021 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$white: #ffffff !default;
$black: #171717 !default;
$grey: #6f6f6e !default;
$dark-black: #383838 !default;
$dark-primary: #da4f09 !default;
$font-family-sans-serif: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Hammersmith One", Georgia, "Times New Roman", Times, serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    padding-top: 0;
    -webkit-font-smoothing: antialiased;
}
[ui-sref] {
    cursor: pointer;
}
.brand-primary, .brand-primary>* {
  color: $brand-primary;
}
img.loading {
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    width: 32px !important;
    height: auto !important;
}
.slider-right {
    img.loading {
        position: absolute;
    }
    .flex-direction-nav {
        margin-top: 30px;
    }
}
.common-class {
    .flex-control-nav {
        display: block !important;
        bottom: 0;
    }
    .flex-control-paging li a.flex-active {
        background: rgb(243, 112, 33);
        cursor: default;
    }
    .flex-control-paging li a {
        width: 11px;
        height: 11px;
        background: rgba(243, 112, 33, 0.64);
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
        -o-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    }
}
img {
    opacity: 0;
    @include transition(all 300ms ease);
}
img.doneLoading {
    opacity: 1;
}
nav li:hover .dropdown-menu {
    display: block;
}
.btn,
a {
    cursor: pointer;
    @include transition(all ease 300ms);
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        outline: 0;
    }
    &:active {
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
        -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
    }
}
/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

//bootstrap forms
.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}
.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
.navbar {
    margin-bottom: 0;
}
.row-flex {
    @include display(flex);
}
.col-flex {
    @include flex(1);
    // flex: 0 0 20%;
    // max-width: 20%;
}
.mobile-row{
  .col-flex {
      @include flex(0 0 20%);
      // flex: 0 0 20%;
      max-width: 20%;
  }
}
.my-col{
  .col-flex {
      width: 50%;
      float: left;
      flex: 1;
  max-width: inherit;
  }
}

//bootstrap forms
/* Start writing sass here */
.margin0 {
    margin: 0;
}
.padding0 {
    padding: 0;
}
.dh-relative {
    position: relative;
}
.dh-absulate {
    position: absolute;
}
.dh-list {
    ul {
        display: block;
        list-style: none;
        li {
            display: inline-block;
        }
    }
}
.display-inline {
    display: inline-block !important;
}
.masonry-box {
    width: 280px;
    img {
        width: 100%;
    }
}
.color-primary {
    color: $brand-primary;
}
.color-white {
    color: $white;
}
.color-black {
    color: $black;
}
.color-grey {
    color: $grey;
}
.text-up {
    text-transform: uppercase;
}
.text-cap {
    text-transform: capitalize;
}
.margin-auto {
    margin: 0 auto;
}
.home {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
}
.head-bg {
    background: $brand-primary;
    padding: 5px 60px 0;
    margin: 0 60px;
}
.head-curve {
    background: url(../img/head-curve.png)no-repeat center;
    height: 30px;
    background-size: cover;
      background-position-y: -10px;
    margin: -1px 60px;
}
.font-hammersmith {
    font-family: 'Hammersmith One';
}
.font-karla {
    font-family: 'karla';
}
.logo-img {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}
.menu {
    display: inline-block;
}
.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
    &:focus {
        outline: 0;
    }
}
.custom-menu {
    li {
        a {
            padding: 10px 12px !important;
        }
    }
}
.navbar-nav {
    li {
        a {
            color: $white !important;
        }
        &:focus {
            color: $white !important;
            text-decoration: none;
        }
        &:active {
            color: $white !important;
            text-decoration: none;
        }
    }
}
.mt10 {
    margin-top: 10px;
}
.head-social {
    ul {
        li {
            padding: 0 1px;
            a {
                i {
                    background: rgba(255, 255, 255, 0.66);
                    font-size: 14px;
    border-radius: 100%;
    height: 23px;
    width: 23px;
    text-align: center;
    line-height: 24px;
                }
            }
        }
    }
}
.mt18 {
    margin-top: 18px;
}
.mt15 {
    margin-top: 15px;
}
.flexslider {
    margin: 0;
    border: 0 solid rgba(255, 255, 255, 0);
    border-radius: 0;
    background: rgba(255, 255, 255, 0);
}
.width-auto{
  .flexslider {

    .slides{
      li{
        // width: auto !important;
      }

    }
}
}
.home-slider {
  .flexslider {

    overflow: hidden;
    .slides{
      img{
        width: auto;
      }
    }
}
    .flexslider:hover .flex-direction-nav .flex-prev:hover {
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-next:hover {
        opacity: 1;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/r-arrow.png") no-repeat center;
        width: 70px;
        height: 100px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/l-arrow.png") no-repeat center;
        width: 70px;
        height: 100px;
    }
    .flex-direction-nav a {
        width: 70px;
        height: 100px;
        opacity: 1 !important;
    }
    .flex-direction-nav .flex-prev {
        left: 0 !important;
        opacity: 1;
    }
    .flex-direction-nav .flex-next {
        right: 0 !important;
        opacity: 1;
    }
    .flex-control-nav {
        bottom: 60px;
        z-index: 99;
    }
    .flex-control-paging li a.flex-active {
        background: #fff;
    }
    .flex-control-paging li a {
        background: rgba(255, 255, 255, 0.5);
    }
}
.dharma-tv-bg {
    background: url(../img/tv-bg.jpg)no-repeat center center;
    background-size: cover;
    padding: 100px 0;
}
.dharma-top-bg {
    @extend .dharma-tv-bg;
    background: url(../img/tv-bg.jpg)no-repeat fixed;
    background-position: top center;
    background-size: cover;
}
.f90 {
    font-size: 90px;
}
.line45 {
    line-height: 45%;
}
.mt30 {
    margin-top: 30px;
}
.text-shadow {
    box-shadow: -30px -30px 70px -20px #000000;
    z-index: 999;
    position: relative;
}
.middle {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}
.slider-nav {
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/right.png") no-repeat center;
        width: 70px;
        height: 70px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/left.png") no-repeat center;
        width: 70px;
        height: 70px;
    }
    .flex-direction-nav a {
        width: 70px;
        height: 70px;
        opacity: 1 !important;
        top: 40%;

    }
    .flex-direction-nav .flex-prev {
        left: -76px !important;
        opacity: 1;
    }
    .flex-direction-nav .flex-next {
        right: -73px !important;
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        opacity: 1;
        left: -76px !important;
        outline: 0;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        opacity: 1;
        right: -73px !important;
        outline: 0;
    }
    .flex-control-nav {
        display: none;
    }
}
.min-tp-nm{
  .flex-direction-nav a.flex-next:before {
      content: '';
      background: url("../img/right.png") no-repeat center;
      width: 32px;
            height: 55px;
  }
  .flex-direction-nav a.flex-prev:before {
      content: '';
      background: url("../img/left.png") no-repeat center;
      width: 32px;
              height: 55px;
  }
  .flex-direction-nav a {
    width: 32px;
          height: 55px;
      opacity: 1 !important;
      top: 40%;

  }
  .flex-direction-nav .flex-prev {
      left: -50px !important;
      opacity: 1;
  }
  .flex-direction-nav .flex-next {
      right: -50px !important;
      opacity: 1;
  }
  .flexslider:hover .flex-direction-nav .flex-prev {
      opacity: 1;
      left: -50px !important;
      outline: 0;
  }
  .flexslider:hover .flex-direction-nav .flex-next {
      opacity: 1;
      right: -50px !important;
      outline: 0;
  }
  .flex-control-nav {
      display: none;
  }
}
.tv-all-slider {
    @extend .slider-nav;
}
.btn-grey {
    @include button-variant($grey, transparent, $grey);
    border: 2px solid $grey;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($black, $grey, $grey);
        border: 2px solid $grey;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-black {
    @include button-variant($black, transparent, $black);
    border: 2px solid $black;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($brand-primary, $black, $black);
        border: 2px solid $black;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-primary {
    @include button-variant($white, $brand-primary, $brand-primary);
    border: 2px solid $brand-primary;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($brand-primary, transparent, $brand-primary);
        border: 2px solid $brand-primary;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-primary-outline {
    @include button-variant($brand-primary, transparent, $brand-primary);
    border: 2px solid $brand-primary;
    @include transition(all 300ms ease);
    &:hover {
        @include button-variant($white, $brand-primary, $brand-primary);
        border: 2px solid $brand-primary;
    }
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
}
.btn-padding {
    padding: 7px 20px 4px;
}
.btn-enter {
    padding: 7px 30px 5px;
}
.mt40 {
    margin-top: 40px;
}
.subscribe {
    background: #fff;
    margin: -45px 80px 0;
    padding: 0 50px;
    position: relative;
}
.up-img {
    margin-top: -25px;
    vertical-align: top;
}
.mt20 {
    margin-top: 20px;
}
.sub-input {
    input {
        background: #f1f1f1;
        border-color: #f1f1f1;
        height: 50px;
    }
}
.go-btn {
    button {
        border: none;
        font-size: 30px;
        background: transparent;
        &:hover {
            border: none;
            color: $brand-primary;
            background: transparent;
        }
        &:focus {
            outline: 0;
        }
    }
}
.bg-sun {
    background: url(../img/dharma-sun.png)no-repeat $brand-primary;
    background-position: left top;
    margin-top: -66px;
    padding: 215px 0 60px 215px;
}
.f12 {
    font-size: 12px;
}
.video-desc {
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.slider-right {
    .flexslider {
        padding-bottom: 70px;
    }
    .flex-direction-nav a.flex-next:before {
        content: '';
        background: url("../img/right-white.png") no-repeat center;
        width: 32px;
      height: 47px;
    }
    .flex-direction-nav a.flex-prev:before {
        content: '';
        background: url("../img/left-white.png") no-repeat center;
        width: 32px;
      height: 47px;
    }
    .flex-direction-nav a {
        width: 32px;
    height: 47px;
        // opacity: 1 !important;
    }
    .flex-direction-nav .flex-prev {
        right: 74px !important;
        opacity: 1;
        left: inherit;
    }
    .flex-direction-nav .flex-next {
        right: 30px !important;
        opacity: 1;
    }
    .flexslider:hover .flex-direction-nav .flex-prev {
        // opacity: 1;
        right: 74px !important;
        outline: 0;
        left: inherit;
    }
    .flexslider:hover .flex-direction-nav .flex-next {
        // opacity: 1;
        right: 30px !important;
        outline: 0;
    }
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav a {
        bottom: 0;
        top: inherit;
    }
}
.top-right {
    top: 0;
    right: 0;
}
.bottom-left {
    bottom: 0;
}
.dharma-title-bg {
    background: url(../img/dharma-title-bg.jpg)no-repeat;
    background-size: cover;
    padding: 200px 0 0px;
}
.footer-data {
    ul {
        li {
            border-right: 1px solid #b2b2b2;
            padding: 0 6px;
            line-height: 100%;
            &:last-child {
                border: none;
            }
            a {
                color: #b2b2b2;
            }
        }
    }
}
.footer {
    background-color: $black;
    padding: 20px 0;
}
.footer-social {
    ul {
        li {
            padding: 0 5px;
            a {
                i {
                    font-size: 20px;
                    background: #424242;
                    height: 35px;
                    width: 35px;
                    color: $black;
                    border-radius: 100%;
                    text-align: center;
                    line-height: 35px;
                }
            }
        }
    }
}
.copy {
    p {
        color: #b2b2b2;
        margin: 0;
    }
}
.img-pads {
    background: #fff;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 4px 10px 2px #dcdcdc;
}
.movie-names {
    h4 {
        text-align: left;
        padding-left: 10px;
    }
}
.movie-tab {
    width: 100%;
    bottom: -20px;
    z-index: 99;
    .btn-group {
        .btn {
            float: none;
            color: $brand-primary;
            background: #000;
            border: none;
            font-size: 25px;
            padding: 9px 70px;
            font-family: 'Hammersmith One';
            &:first-child {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            &:last-child {
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            &:active {
                outline: 0;
            }
            &:focus {
                outline: 0;
            }
        }
    }
    .active-tab {
        // background: $brand-primary !important;
        background: url(../img/bg-grediant.jpg)no-repeat;
        background-size: 100% 100%;
        color: $white !important;
    }
}
.pos-bottom {
    position: absolute;
    bottom: -42px;
}
.mr2 {
    margin-right: -4px;
}
.tab-active {
    padding: 70px 0 80px;
}
.scroll-over{
  height: 400px;
    overflow: auto;
    overflow-x: auto;
    padding: 0px 15px;
}
.movie-inside-curve {
    background: url(../img/movie-inside-bg.png)no-repeat;
    height: 20px;
    margin-top: -37px;
    z-index: 99;
    position: relative;
    background-size: 100% 100%;
}
.movie-inside-bg {
    background: url("../img/main3.jpg");
    padding-top:45%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-attachment: fixed !important;
    // padding-bottom: 60px;
}
.abt-banner{
  background: url("../img/abt.jpg");
  background-size: cover;
  background-repeat: no-repeat ;
  background-position: top center ;
  background-attachment: fixed;

}
.width100 {
    width: 100%;
}
.movie-inner-bg {
    background-color: #fff;
    position: relative;
}
.f26 {
    font-size: 26px;
}
.ply-post {
    right: 0;
    bottom: 0;
}
.movie-inside-date {
    padding-left: 50px;
    padding-right: 50px;
}
.all-tabs {
    background: url(../img/tab-bg.png)no-repeat;
    background-size: 100% 100%;
    padding: 10px 0 24px;
    margin: 25px 35px 0 -14px;
    position: relative;
}
.all-tabs {
    .btn-group {
        button {
            background: transparent;
            border: none;
            text-transform: uppercase;
            font-family: 'Hammersmith One';
            font-size: 18px;
            padding: 0 18px;
            &:first-child {
                padding-left: 52px;
            }
            &:focus {
                outline: 0;
            }
            &:active {
                outline: 0;
            }
        }
        .active-list {
            color: $white;
        }
    }
}
.bg-synopsis {
    background: url(../img/main2.png)no-repeat;
    background-size: contain;
    background-position: right bottom;
    padding-top: 20px;
    padding-bottom: 30px;
}
.cast {
    h1 {
        font-size: 40px;
        color: $dark-black;
    }
}
.cast-box {
  height: 120px;
width: 120px;
border-radius: 50%;
overflow: hidden;
text-align: center;
    margin: 0 auto;
    img {
      text-align: center;
border-radius: 100%;
display: inline;
margin: 0 auto;
height: 100%;
width: auto;
    }
}
.color-dark {
    color: $dark-black;
}
.font-bold {
    font-weight: 700;
}
.f18 {
    font-size: 18px;
}
.cast-credit {
    padding-top: 20px;
    padding-bottom: 60px;
}
.mt60 {
    margin-top: 60px;
}
.mt100 {
    margin-top: 100px;
}
.box-pad {
    padding-bottom: 50px;
    border-bottom: 2px solid #b0b0b0;
}
.pt50 {
    padding-top: 50px;
}
.all-cast {
    ul {
        li {
            list-style: none;
            font-size: 18px;
            line-height: 240%;
            color: $dark-black;
        }
    }
}
.bg-cast {
    background: url(../img/main2.jpg)no-repeat;
    background-position: right bottom;
}
.social-share {
    border: 2px solid #ececec;
    border-radius: 52px;
    display: inline-block;
    padding: 20px 8px;
    ul {
        text-align: center;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 0;
        li {
            a {
                i {
                    background: #c6c6c6;
                    color: $white;
                    font-size: 20px;
                    height: 35px;
                    width: 35px;
                    padding: 8px 5px;
                    border-radius: 100%;
                    margin: 10px 0;
                      @include transition(all 0.3s ease-in-out);
                    &:hover{
                      background: $brand-primary;
                        @include transition(all 0.3s ease-in-out);
                    }
                }
            }
        }
    }
}
.color-light-grey {
    color: #838383;
}
.padd20 {
    padding: 0 10px;
}
.masonry-width {
    .masonry-box {
        width: 280px;
    }
}
.masonry-brick {
    margin: 5px;
}
.custom-box {
    .masonry-brick {
        margin-bottom: 10px;
        background-color: $black;
    }
}
.padd10 {
    padding: 10px;
    p,
    span {
        color: #b3b3b3;
    }
}
.overlay {
    height: 100%;
    width: 100%;
    z-index: 9;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    .pos-middle {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}
.pad5 {
    padding: 5px;
}
.custom-tabs {
    button {
        background: transparent;
        color: #838383;
        line-height: 100%;
        &:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
        }
        &:hover {
            color: $brand-primary;
        }
        &:first-child {
            border-right: 2px solid #838383;
        }
    }
    .btn {
        &:active {
            outline: 0;
            background-image: none;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
        }
    }
    .active-list {
        color: $brand-primary;
    }
}
.desktop {
    .download {
        top: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.55);
        width: 100%;
        display: none;
        @include transition(all 0.3s ease-in-out);
        a {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
            width: 100%;
            text-align: center;
        }
    }
}
.all-wall {
    &:hover {
        .download {
            display: block;
        }
    }
}
.dark-black {
    color: $dark-black;
    &:focus {
        outline: 0;
    }
}
.movie-award {
    .panel {
        background-color: transparent;
        border: 0 solid transparent;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
        .panel-heading {
            color: #333333;
            background-color: transparent;
            border-color: transparent;
            padding: 8px 15px;
            border-bottom: 3px solid #ddd;
            &:focus {
                outline: 0;
            }
        }
        .panel-body {
            border-top: 0 solid #ddd !important;
        }
    }
}
.list-none {
    list-style: none;
}
.awards-name {
    ul {
        li {
            font-size: 16px;
            line-height: 200%;
        }
    }
}
.line0 {
    line-height: 0;
}
.pl10 {
    padding-left: 10px;
}
.search-in {
    background: transparent;
    border: 1px solid $brand-primary;
    width: 100%;
    height: 45px;
    padding: 0 0 0 45px;
    color: $white;
    &:focus {
        outline: 0;
    }
    @include placeholder {
        color: $white;
    }
    &:focus {
      @include placeholder { color: transparent };
    }
}
.search-date {
    @extend .search-in;
    background: $dark-primary;
    border: 1px solid $dark-primary;
    width: 100%;
}
.search-img {
    position: absolute;
    top: 12px;
    left: 10px;
        z-index: 99;
}
.movie-search-pg{
  input{
    &:focus {
      @include placeholder { color: transparent };
    }
  }
}
.news-search{
  input{
    &:focus {
      @include placeholder { color: transparent };
    }
  }
}

.news-search{
  .ui-select-match {
    background: transparent;
    position: relative;
    &:focus{
      outline: 0;
    }

}
.btn-default-focus{
    box-shadow: none;
      outline: 0;
  &:focus{
    outline: 0;
    box-shadow: none;
  }
}
.ui-select-bootstrap .ui-select-choices-row>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: $black;
    white-space: nowrap;
    &:hover{
      text-decoration: none;
    color: #ffffff;
    background-color: #ea611a;
    }
}
.ui-select-bootstrap .ui-select-toggle > .caret {
    display: none;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #ea611a;
    padding: 10px 20px;
}
.ui-select-bootstrap > .ui-select-match > .btn {
    text-align: left !important;
    background: #da4f0a;
    color: #fff;
    border: none;
    height: 45px;
    padding: 13px 0px 0px 40px;
    &:focus{
      outline: 0;
    }
}
.text-muted {
    color: #ffffff;
}
input.form-control.ui-select-search{
  padding: 9px 0px 0px 40px;
}
}
.f120 {
    font-size: 120px;
}
.video-names {
    padding: 0 10px;
    height: 40px;
}
.ml-7 {
    margin: 0 0 0 -6px;
}
.img-inside-box {
    height: 146px;
    width: auto;
    overflow: hidden;
    text-align: center;
    margin: 0;
}
.tv-box {
    margin-bottom: 30px;
}
.border-left {
    margin-top: 40px;
    padding: 0 0 0 30px;
    border-left: 1px solid;
    ul {
        li {
            line-height: 200%;
            font-family: 'Hammersmith One';
            a {
                color: $white;
                @include transition(all 300ms ease);
                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
}
.bg-primary {
    background-color: #ea611a;
}
.news-search {
    padding-top: 150px;
}
.date-select {
    select {
        background-color: transparent;
        color: #FFF;
        border: none;
        border-bottom: 1px solid;
        cursor: pointer;
        margin-right: 10px;
        @include appearance(none);
        background: url("../img/select-arrow.png") no-repeat;
        background-position: 59px 18px;
        padding: 7px 24px 0 6px;
        &:focus {
            border-bottom: 1px solid $white;
        }
        option {
            background-color: $white;
            color: $black;
            margin: 40px;
            &:hover {
                background: $brand-primary;
                color: $white;
            }
        }
    }
}
.custom-dropdown {
    button {
        background: transparent;
        color: $white;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 0 0 5px;
            font-size: 20px;
    }
    img {
        padding-left: 15px;
    }
    .dropdown-menu {
        min-width: 115px;
        padding: 0;
        li {
            a {
                padding: 10px 20px;
                color: $black;
                font-family: 'Hammersmith One';
                &:hover {
                    text-decoration: none;
                    color: #ffffff !important;
                    background-color: #ea611a;
                }
                &:focus {
                    text-decoration: none;
                    color: #ffffff !important;
                    background-color: #ea611a;
                }
            }
        }
    }
}
.ml15 {
    margin-left: 15px;
}
.ml23 {
    margin-left:23px;
}
.btn-go {
    button {
        background: transparent;
        border: none;
        color: #fff;
        font-size: 22px;
        vertical-align: -webkit-baseline-middle;
        &:hover {
            color: $white;
        }
        &:focus {
            color: $white;
            outline: 0;
            -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
        }
        &:active {
            outline: 0;
        }
    }
}
.btn:active:focus {
    outline: 0;
}
.fb-btn {
    button {
        background: #2f5f9e;
        border: 1px solid #2f5f9e;
        padding: 0 16px;
        font-size: 13px;
        border-radius: 5px;
        i {
            padding: 12px 15px 10px 0;
            font-size: 20px;
            vertical-align: middle;
            border-right: 1px solid #1e395d;
            margin-right: 15px;
        }
        &:focus{
          outline: 0;
        }
    }
}
.info-icon {
    margin-right: 5px;
    img {
        vertical-align: sub;
    }
}
.padd-all-side {
    padding: 50px 0 30px;
}
.map {
    background-color: $brand-primary;
    color: #fff;
    p {
        line-height: 100%;
    }
    span {
        display: block;
        margin-top: 25px;
    }
}
.know {
    text-align: right;
}
.add-show {
    @extend .map;
    right: 0;
    bottom: 40px;
    padding:30px;
    @include transition(all 300ms ease);
}
.btn-view-more {
    .btn-1 {
        background: transparent;
        font-weight: 100;
        &:hover {
            background: rgba(225, 51, 45, 0);
            font-weight: 900;
            letter-spacing: 1px;
            rect {
                stroke-width: 5;
                stroke-dasharray: 15, 310;
                stroke-dashoffset: 55;
                @include transition(all 1.35s cubic-bezier(0.19, 1, 0.22, 1));
            }
        }
        svg {
            height: 40px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        rect {
            fill: none;
            stroke: $brand-primary;
            stroke-width: 2;
            stroke-dasharray: 422, 0;
            @include transition(all 1.35s cubic-bezier(0.19, 1, 0.22, 1));
        }
    }
    .btn {
        color: $brand-primary;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;
        max-width: 160px;
        padding: 10px 0 8px;
    }
}
.btn-view-all {
    @extend .btn-view-more;
    .btn {
        color: $grey;
        display: inline-block;
    }
    .btn-1 {
        rect {
            fill: none;
            stroke: $grey;
        }
        &:hover {
            rect {
                stroke-dashoffset: 55;
            }
        }
    }
}
.btn-view-enter {
    @extend .btn-view-more;
    .btn {
        color: $white;
        display: inline-block;
    }
    .btn-1 {
        background: $brand-primary;
        &:hover {
            background: transparent;
        }
    }
}
.btn-view-news {
    @extend .btn-view-more;
    .btn {
        color: $black;
        display: inline-block;
    }
    .btn-1 {
        rect {
            fill: none;
            stroke: $black;
        }
    }
}
.movie-tab {
    ul {
        li {
            background: $black;
            color: $brand-primary;
            padding: 13px 70px 9px;
            cursor: pointer;
            &:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            &:last-child {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            h1 {
            color:$brand-primary;
            }
        }
        .active-tab {
            h1 {
              color:$white;
            }
        }
    }
}
.dharma-journey-bg {
    background: url(../img/timeline.jpg)no-repeat;
    background-size: cover;
}
.timline-head {
    background: url(../img/timline-bg.png)no-repeat;
    position: relative;
    height: 266px;
    overflow: hidden;
    background-position: top center;
    background-size: contain;
    margin-bottom: -70px;
}
.timeline-head2 {
    @extend .timline-head;
    background: url(../img/timeline-sun.png)no-repeat;
    background-position: top center;
    background-size: contain;
    margin-top: -65px;
}
.dot {
    color: $brand-primary;
    font-size: 50px;
    border-radius: 100%;
    border: 4px solid white;
    height: 20px;
    width: 20px;
    margin: 0 auto;
}
.top-circle {
    text-align: center;
    margin: 0 auto;
}
.pr0 {
    padding-right: 0;
}
.pl0 {
    padding-left: 0;
}
.swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide:nth-child(2n) {
    width: 40%;
}
.swiper-slide:nth-child(3n) {
    width: 20%;
}
.fancybox-inner {
    overflow: hidden !important;
}
.fancybox-nav {
    top: initial !important;
    bottom: -60px;
    transform: inherit !important;
    height: 60px !important;
    span {
        visibility: visible;
        // height: 76px;
        // bottom: -11px;
        // top: initial;
    }
}
// .fancybox-prev span {
//     background-position: -8px -66px;
// }
// .fancybox-next span {
//     background-position: -15px -140px;
// }
// .fancybox-close {
//     width: 60px;
//     height: 60px;
//     top: -50px;
//     right: -100px;
// }
.fancybox-skin {
    background: transparent;
}
// #fancybox-loading {
//     background-position: 0 -217px;
// }
#backtop {
    opacity: 0;
    transition: all 0.3s ease-out;
    position: fixed;
    button {
        outline: none;
        border: 0;
        &:hover {
            cursor: pointer;
        }
    }
}
.show {
    opacity: 1 !important;
}
.all-movies.masonry-width {
    margin-left: 50px;
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 15px;
    cursor: pointer;
    display: none;
    z-index: 99;
}
.mb0 {
    margin-bottom: 0;
}
.float-right {
    float: right;
}
.mob-slider {
    .flex-control-nav {
        display: none;
    }
    .flex-direction-nav {
        display: none;
    }
}
.search-rslt{
  margin-bottom: 22px;
}
.search-img2 {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
    z-index: 99;
    img{
       width: 25px;
    }
}
.bg-inner{
  background: url(../img/inner-bg.jpg)no-repeat center;
  background-size: cover;
  position: relative;
      padding: 80px 0px;
}
.main-section{
  padding-bottom: 30px;
      position: relative;
}
.other-cast ul li {
    padding: 6px 0px;
}
.map img {
    opacity: 1 !important;
}
.em-box{
  height: 148px;
width: auto;
overflow: hidden;
margin: 0 auto;
position: relative;
img{
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%,-50%));
}
}
.pb-short{
  padding-top: 100px;
padding-bottom: 20px;
}
.makePointer {
  cursor:pointer;
}
.black-bg {
    background-color: $black;
}
.pb40{
  padding-bottom: 40px;
}
.pb70{
      padding-bottom: 70px;
}
.share-section{
  button{
    background: #fff;
    color: #383838;
    border: none;
    padding: 4px 18px;
    border-radius: 2px;
    font-size: 18px;
        margin: 0px 4px;
        font-weight: 700;
        i{
          vertical-align: middle;
border-right: 1px solid;
padding: 0px 8px 0px 1px;
margin: 0px 8px 0px 0px;
        }
        &:focus{
          outline: 0;
        }
        &:active{
          outline: 0;
        }
  }
}
.mrgin-20{
      padding: 0px 30px 0px 30px;
}
.banner-news {
    border-top: 1px solid #9e9e9e;
    padding: 25px 20px 10px 20px;
}
.top-set{
  padding: 5px 0px 20px 0px;
display: block;
}
.news-data{
  padding: 10px 0px 20px 0px;
  p{
    color: $black;
  }
}
.line50{
  line-height: 54%;
}
.colFlex20 {
  flex: 0 0 20%;
  max-width: 20%;
}
.loaderHeader {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.92);
    z-index: 1000;
    text-align: center;
}

.loaderHeader img {
    z-index: 100000;
    width: 100px;
    top: 50%;
    position: absolute;
    @include transform(translateX(-50%));
}
.mobileMovieTabs{
  width: 120px !important;
}
.movie-search-pg{
  .ui-select-toggle{
        height: 50px;
        .caret{
          display: none;
        }
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: $brand-primary;
}
.btn{
  padding: 12px 0px 0px 38px;
font-size: 16px;
}
span.ui-select-placeholder.text-muted.ng-binding {
    padding-top: 0;
}
input.form-control.ui-select-search {
    padding: 0px 0px 0px 38px !important;
}
.form-control{
  padding: 12px 0px 0px 38px;
font-size: 16px;
height: 50px;
}
.text-muted {
    color: #777777;
    display: block;
    padding-top: 12px;
}
.ui-select-choices-row>a {

    font-size: 16px;
}
.ui-select-bootstrap .ui-select-choices-row.active>a {
    background-color: $brand-primary;
    font-size: 18px;
}
.ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: $brand-primary;
      font-size:18px;
}
.search-drop.ui-select-container.ui-select-bootstrap.dropdown{
  &:focus{
    outline:0;
  }
}
}
.flexslider .slides > li:only-child{
  .flex-direction-nav{
    display: none;
  }
}
.f55{
  font-size: 45px;
}

@import "fancybox-override";
.cl-flex{
  .flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
  }
}
.w60{
  img{
    width: 60px;
  }
}
.h40{
  height: 40px;

}
.h70{
  height:70px;
  overflow: hidden;
}
.home-contact{
      padding: 50px 0px;
}
.dark-bg {
    background-color: #010101;
    color: #818181;
    &.insta-bg {
      background-image: url('../img/dharm-insta.jpg');
      background-size: 50% auto;
      background-position: top center;
      background-repeat: no-repeat;
    }
}
.dark-bg{
  background-image: url('../img/you-bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: fixed;

}
.white-color {
  color: white;
}
.padder-up {
  padding-top: 120px;
}
.hashtagged {
  @include transition(all 300ms ease);
  text-transform: uppercase;
  cursor: pointer;
  padding: 6px;
  display: inline-block;
  font-size: 20px;
  text-align: center;
}
.masonry-king {
    margin: 30px 0 0;
    min-height: 400px;
    .masonry-brick {
      width: 32%;
      padding: 5px;
      padding-bottom: 10px;
    }
}
.super-big {
    text-transform: uppercase;
    font-size: 90px;
    margin: 0 0 10px;
}
.tweet-holder {
    background-color: #f4f4f4;
    color: #171717;
    padding: 10px;
    box-shadow: -4px 4px 0px $brand-primary;
    p {
      margin: 0;
    }
}
.item-avatar {
  padding-left: 60px;
  position: relative;
  margin-bottom: 10px;
  .imaged {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #e6e6e6;
    left: 0;
    top: -15px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h3 {
    margin: 15px 0 0px;
    font-size: 14px;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.text-upper {
    text-transform: uppercase;
}
.primary-color {
  color: $brand-primary;
}
.tweet-img {
    margin: -10px;
    position: relative;
    img {
      width: 100%;
    }
}
.active .hashtagged, .hashtagged:hover {
    background-color: $brand-primary;
    color: white;
}
.activeLink {
  background-color: $brand-primary;
  color: white;
}
.handlers {
    margin: 50px 40px 0;
    padding: 0 30px;
    list-style: none;
    border-bottom: 2px solid;
    overflow: hidden;
        overflow-x: auto;
    >li {
      display: table-cell;
      text-align: center;
    }
}
.relative {
    position: relative;
}
.my-disable{
  color: #090909 !important;
  opacity: 0.4 !important;
}
.btn-clear {
  @include button-variant(#818181, transparent, transparent);
}

.dharma-insta {
  h2 {
      font-size: 45px;
      margin-bottom: 0px;
  }
}
.insta-tv-box {
  position: relative;
  max-width: 350px;
  margin: 0 auto
}
.tv-img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.full-image {
  width: 100%;
  position: relative;
}
.center-in {
  position: absolute;
  width: 32px !important;
  height: auto;
  cursor: pointer;
  left: 50%;
  top: 50%;
  z-index: 9;
  @include transform(translate(-50%, -50%));
}
.mter {
  margin-top: 60px;
}
.dharma-insta {
  .tweet-holder {
      box-shadow: none;
      border-radius: 5px;
  }
  .tweet-img {
      margin: 0;
      border-radius: 20% 20% 20% 20% / 40% 40% 40% 40%;
      -webkit-border-radius: 20% 20% 20% 20% / 40% 40% 40% 40%;
      overflow: hidden;
  }
  .item-avatar .imaged {
    top: -10px;
  }
  .item-avatar h3 {
    margin: 10px 0 0px;
  }
  .item-avatar {
    margin-bottom: 15px;
  }
}
.antena-top {
    max-width: 140px;
}
.blackoverlay {
  height: 100%;
  width: 100%;
  z-index: 9;
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
}
#fancybox-thumbs ul li img{
  opacity: 1;
}
.btn-primary.btn-outline {
  color: $brand-primary;
  border: 2px solid $brand-primary;
  background-color: transparent;
  &:hover, &:focus {
    background-color: $brand-primary;
    border-color: $brand-primary;
    color: white;
  }
}
.dharma-you {
  .item-avatar h3 {
    margin: 35px 0 0px;
  }
  .item-avatar .imaged {
    top: -30px;
  }
  .tweet-holder {
    box-shadow: none;
    padding: 15px 35px;
  }
  .masonry-king .masonry-brick {
    width: 49%;
  }
}
.btn-grand {
  font-size: 22px;
  margin: 30px 0 20px;
}
.quest {
    font-size: 17px;
    font-weight: 700;
}
.anst {
  text-align: justify;
}
.pady-bot {
  padding-bottom: 20px;
}
// .no-ar{
//   .flex-direction-nav {
//     display: none;
// }
// }

.scroll-over::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.scroll-over::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
.scroll-over::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $brand-primary;
}
.navbar-collapse {

    border-top: 0px solid transparent;

}
.pd4{
  padding: 0px 4%;
}
.custom-menu{
  .dropdown-menu{
        top: 37px;
  left: 50%;
  padding: 0px;
  box-shadow: 1px 1px 9px rgba(85, 78, 78, 0.23);
  border: none;
  transform: translateX(-50%);
      li{
&:hover{
  a{
    color:$white !important;
    text-transform: uppercase;
        background-color: #f37021;
  }
}
        a{
color:$black !important;
text-transform: uppercase;
    padding: 10px 15px !important;

        }
      }
&:before{
  position: absolute;
top: -7px;
left: 45%;
margin-top: -3px;
width: 0;
height: 0;
border-bottom: 10px solid;
border-right: 10px solid rgba(0, 0, 0, 0);
border-left: 10px solid rgba(0, 0, 0, 0);
color: #fff;
content: "";
pointer-events: none;
}
  }
}
.ui-select-match {
  outline: 0;
}
.btn-default-focus{
  box-shadow: none;
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
    span{
      background-color:#d0d0d0  !important;
    }
}
button.navbar-toggle.collapsed {
    background: transparent !important;
    &:focus {

        span{
        background-color: #d0d0d0 !important;
        }
    }
}
.fancybox-overlay {
    background-color: rgba(0,0,0,.75);
    background: rgba(0,0,0,.75);
}
.dharma-you-modal {
  .modal-content {
      border: 2px solid $brand-primary;
      padding: 35px 25px;
      border-radius: 20px;
  }
  .form-control {
    background-color: #ebebeb;
    border-color: #ebebeb;
  }
  label {
    color: $brand-primary;
  }
}
.closure {
  position: absolute;
  background-color: $brand-primary;
  top: -5px;
  right: -5px;
  height: 23px;
  width: 23px;
  text-align: center;
  border-radius: 100%;
  color: white;
  line-height: 23px;
  cursor: pointer;
  z-index: 99;
}
.f-c{
  .form-control{
    background-color: #da4f0a;
border: 1px solid #da4f0a;
@include placeholder {
    color: $white;
}
  }
}
.qsn-bg{
  background: url(../img/qsn-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
    padding: 20px 10px 25px 25px;
    position: relative;

}
.qsn-bg2{
  @extend .qsn-bg;
    background: url(../img/qsn-bg2.png);
    background-position: top center;
    background-size: 100% 100%;
}
.main-qsn {
    border-bottom: 1px solid grey;
}
.main-sec {
  position: relative;
  /* padding-right: 300px; */
  overflow: hidden;
}
.main-qsn-ans {
      padding: 0px 400px 0px 20px;
}
.main-qsn-ans2 {
      padding: 0px 20px 0px 400px;
}

.main-dir {
    position: absolute;
    width: 300px;
    bottom: 10px;
    right: 45px;
    z-index: 9;
}
.img-set {
  position: absolute;
      width: 180px;;
  bottom: 3px;
  right: 12px;
}
.img-set2 {
    position: absolute;
    width: 180px;
    bottom: 4px;
    left: -12px;
}
.main-ans {
    padding: 0px 0px 30px 0px;
}
.main-ans2 {
    padding: 0px 0px 30px 0px;
}
.main-dir2 {
    position: absolute;
    /* width: 271px; */
    bottom: 10px;
    left: 218px;
    z-index: 99;
}
.dharma-you {

}
.my-main-btn{
  background: transparent;
    border: none;
    padding: 7px 7px;
border-radius: 25px;
    &:focus{
      background: $dark-primary;
      outline: 0;
      padding: 7px 7px;
border-radius: 25px;
    }
}
.my-search{
  width: 25%;
    position: absolute;
    right: 140px;
    top: 60px;
    .search-img {

    top: 10px;

}
.search-img2 {

    top: 8px;

}
.movie-search-pg .form-control {
    padding: 9px 0px 0px 38px;
    font-size: 16px;
    height: 40px;
}
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 365px;
}
.w15{
  width: 18px;
}

.st_twitter_large{
  .stButton .stLarge {
      display: inline-block;
      height: 35px !important;
      width: 35px !important;
      position: relative;
      background-image: url(../img/tw.png)!important;
      &:hover{
        opacity: .75;
  background-position: -35px !important;
      }
  }
}
.st_facebook_large{
  .stButton .stLarge {
      display: inline-block;
      height: 35px !important;
      width: 35px !important;
      position: relative;
      background-image: url(../img/fb.png)!important;
      &:hover{
        opacity: .75;
  background-position: -35px !important;
      }
  }
}
.st_googleplus_large{
  .stButton .stLarge {
      display: inline-block;
      height: 35px !important;
      width: 35px !important;
      position: relative;
      background-image: url(../img/gg.png)!important;
      &:hover{
        opacity: .75;
  background-position: -35px !important;
      }
  }
}
.role-name {
    min-height: 50px;
}
.modal-dialog {
    position: absolute;
      width: 900px;
    margin: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}
.shr-img{
      margin-top: -30px;
}
.main-sub {
    padding: 0px 20px;
}
.main-msg{
  margin-top: 15px;
}

.tv-all-slider{
  .flex-direction-nav a{
    top:50% !important;
  }
}
.non-top{
  .flex-direction-nav a{
    top:70% !important;
  }
}
.content {
    min-height: 450px;
}
.main-m-marg{
      margin: 9px 12px 0px 0px;
}
.some-c{
  text-align: center;
    margin: 15 auto 0;
    position: relative;
    display: inline-block;
}
.pall10{
  padding: 10px !important;
}
.h3-main{
  h3{
    line-height: 100%;
  }

}
.subscribe-modal .modal-content {
    border: 2px solid #f37021;
    padding: 35px 25px;
    border-radius: 20px;
}
.mn-o{
  padding: 25px 0px 15px 0px;
border: 2px solid #f37021;
}
.top-pad-abt{
      padding: 23% 0px 21% 0px;
}
.karan-img{
  margin: 0px -15px;
}
.mn-org{
  background-color: $brand-primary;
  padding: 15px 40px 15px 40px;
}
.top-min{
  margin-top: -90px;
z-index: 99;
position: relative;
}
.pb30{
  padding-bottom: 30px;
}
.pt20{
      padding-top: 20px;
}
.tv-ain-tp{
  .flex-direction-nav a{
    top:70% !important;
  }
}
.pb40{
      padding-bottom: 40px;
}
.video-slide-img.em-box {
    height: 200px;
}
@import "main2";
@import "timeline";
@import "mobile";
