@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/font-awesome/css/font-awesome";
@import "../../bower_components/angular-material/angular-material";
@import "../../bower_components/tinymce-dist/skins/lightgray/content.min";
@import "../../bower_components/tinymce-dist/skins/lightgray/skin.min";
body {

}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
ng-md-icon {
  transition: all 1s;
}
.md-button .md-ripple-container {
  z-index: 60;
}
/* Start writing sass here */
.md-button {
  z-index: 100;
}
.content {
  min-height: 500px;
}
.plus-icon {
  font-size: 24px;
}
.project {

  // padding: 20px 40px;
  .single-project {
    margin-bottom: 50px;
  }
}
.project-detail {
  margin-top: 50px;
}
.mb20 {
  margin-bottom: 20px;
}
.openClose {
  padding:0px;
  @include transition(all 0.40s ease-in-out);
  &.closeSection {
    height:0px;
  }
  &.openSection {
    height:302px;
  }
}
.openCloseAPI {
  padding:0px;
  @include transition(all 0.40s ease-in-out);
  &.closeSection {
    height:0px;
  }
  &.openSection {
    height:595px;
  }
}
.md-fab.md-fab-bottom-right.md-primary.fixed {
  position:fixed;
}
.hideme, .hide {
  display: none;
}

select {
  display:block;
}
.padlr16 {
  padding: 0 16px;
}
.padr16 {
  padding: 0 16px 0 0;
}
.ls-head {
  font-weight: 700;
}
.text-right {
  text-align: right;
}
.loadingbox {
   padding: 20px;
   text-align: center;
}
.edit-image {
  width: auto !important;
  height: auto !important;
}
.pagination-page a , .pagination-prev a, .pagination-next a {
position: relative;
float: left;
padding: .5rem .75rem;
margin-left: -1px;
line-height: 1.5;
color: #f37021;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}
.pagination-page, .pagination-prev, .pagination-next {
display: inline;
}
.pagination {
display: inline-block;
margin-top: 1rem;
margin-bottom: 1rem;
border-radius: .25rem;
}

////////////////

.chipsdemoBasicUsage .errors {
  font-size: 12px;
  color: #f37021;
  margin-top: 10px; }

.chipsdemoBasicUsage .custom-chips md-chip {
  position: relative; }
  .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; }
    .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip {
      position: relative;
      height: 24px;
      width: 24px;
      line-height: 30px;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; }
      .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; }
      .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip:hover, .chipsdemoBasicUsage .custom-chips md-chip ._md-chip-remove-container button.vegetablechip:focus {
        background: rgba(255, 0, 0, 0.8); }
  .chipsdemoBasicUsage .custom-chips md-chip:not(.md-readonly) md-chip-template {
    padding-right: 5px; }
//image-holder
.img-holder{
  height: 80px;
  width: 80px;
  display: block;
  img{
    max-width: 100%;
    max-height: 100%;
  }
}
.add-position{
  .md-button.md-fab.md-fab-bottom-right {
    right: 280px;
    bottom: 50px;
}
}
.pb50{
  padding-bottom: 50px;
}
.login md-card {
    margin: 50px auto;
    width: 420px;
    padding: 0 20px;
}
li.pagination-page.ng-scope.active a {
    background: #f37021;
    color: white;
}

.search-input {
  padding: 0px 10px;
  input {
    width: 25%;
    padding: 10px;
  }
}
.main-sec{
  position: relative;
}
.pos-abs{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.w100{
  width: 100%;
}
.main-img{
  margin: 0px auto;

}
.w200{
  width: 200px;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar),.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
  background-color: #f37021;
}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
  background-color: darken(#f37021, 10%);
}
.md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab,a.md-button.md-default-theme.md-warn.md-raised, a.md-button.md-warn.md-raised, a.md-button.md-default-theme.md-warn.md-fab, a.md-button.md-warn.md-fab, .md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised, .md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab {
    color: #f37021;
    background-color: white;
}
.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover, a.md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, a.md-button.md-warn.md-raised:not([disabled]):hover, a.md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, a.md-button.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover {
  background-color: darken(white,10%);
}
/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
*/
