<div class="widget">
    <div class="widget-title">
        <a class="btn btn-primary pull-right" ng-click="json.eventAction(type)">Add New</a>
        <label>{{type.name}} <span ng-show="type.required">*</span></label>
    </div>
    <div class="error-msg" ng-show="formData[type.tableRef].length==0" ng-show="type.required">At least one Product is compulsory.</div>

    <div class="sec">
        <div class="table-responsive">
            <table class="table table-input">{{type.field}}
                <thead>
                    <tr>
                        <th ng-repeat="field in type.field" ng-if="field.onView">{{field.name}}</th>
                        <th width="150px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in formData[type.tableRef] track by $index">
                        <td ng-repeat="field in type.field" ng-if="type.onView">{{data[field.tableRef]}}</td>
                        <td>
                            <a class="btn btn-primary" ng-click="addModal('modal-assignment',$index,'products',data, '',formData.products)">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger" ng-click="deleteElements($index, formData.products)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>